* {
    margin: 0;
    padding: 0;
}

.titulo {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;

    h1 {
        font-size: 40px;
        color: white;
    }
}